pandas
numpy
dash
dash-core-components
dash-html-components

hypothesis
codecov

# The latest version of doit supporting Python 2 is 0.29.0
doit==0.29.0; python_version < '3.0'
doit; python_version >= '3.0'
